.btn-cta {
    &:link, &:visited {
        background-image: linear-gradient(to right, hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
        color: hsl(0, 0%, 100%);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
        transition: all 0.4s;
    }

    &:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    }
    &:active {
        transform: translateY(0rem);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    }
}